/* *{
    outline: #222 solid 1px;
} */
/* reviewContainer */
@media screen and (min-width: 1200px){
    .reviewContainer{
        width: 1200px;
        margin: auto;
    }
}

/* reviewitem */
.reviewItem{
    margin: auto;
    transition: 0.5s;
    padding: 20px;
    background-color: rgba(256,256,256,0.6);
}
.reviewItem:hover{
    background-color: #fff;
    transform: translateX(-3px);
    box-shadow: #bbb 5px 5px 10px;
}
.review-img{
    width: 80vw;
    margin: auto;
    position: relative;
}
.review-img::after{
    content: "";
    display: block;
    border: #ffcd3c 2px solid;
    margin: 5px 0;
}
.review-img img{
    border-radius: 5px;
    width: 100%;
}
.reviewContent{
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    width: 80vw;;
    position: relative;
    box-sizing: border-box;
}
.reviewContent h3{
    margin: 10px 0;
}
.reviewContent a{
    color: #222;
    font-size: 20px;
    font-weight: bold;
}
.reviewContent a:hover{
    color: #e99400;
}
.reviewContent p{
    display: inline-block;
    margin:5px 20px;
}
.review-icon{
    text-align: end;
    /* background-color: #ffcd3c; */
    border-radius: 5px;
    margin: 10px 0;
}
.review-icon i{
    margin:0 10px;
    padding: 0 5px;
}
/* bookmark */
.review-img h2{
	position: absolute;
	top: 12px;
	left: -7px;
	display: inline-block;
    background-color: #ffcd3c;
    padding: 4px 15px;
    color: #222;
    font-weight: bold;
}
.review-img h2:before{
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7px 5px 0;
	border-color: transparent #ff9234 transparent transparent;
}

@media screen and (min-width: 768px){
    .reviewContainer{
        column-count: 2;   
    }
    .reviewItem{
        box-sizing: border-box;
        break-inside: avoid;
        padding: 10px;
    }
    .review-img{
        width: 40vw;
    }
    .reviewContent{
        width: 40vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: auto;
        font-size: 16px;
        box-sizing: border-box;
    }
}
@media screen and (min-width: 1200px){
    .reviewContainer{
        column-count: 3;
        max-width: 1200px;
    }
    .reviewItem{
        box-sizing: border-box;
        break-inside: avoid;
        padding: 10px;
    }
    .review-img{
        width: 20vw;
        max-width: 360px;
    }
    .reviewContent{
        width: 20vw;
        max-width: 360px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: auto;
        font-size: 16px;
        box-sizing: border-box;
    }
}
/* page */
.page{
	text-align: center;
	margin: 40px auto 80px;
}

.page ul{
    display: inline-block;
    padding: 0;
}
.page ul li{
    display: inline;
    cursor: pointer;
}

.page a{
    color: #222222;
    display: inline-block;
    padding: 7px 10px;
    font-size: 14px;
    transition: background-color 0.5s;
    cursor: pointer;
}

.curpage{
    background-color: #e99400;
    color: #fff;
}

.page ul li:hover{
    background-color: #ffcd3c;
}